.box1 {
  background-color: lightblue;
  height: 150px;
}
.box2 {
  background-color: pink;
  height: 150px;
}
.box3 {
  background-color: lightblue;
  height: 150px;
}
.box4 {
  background-color: lightgreen;
  height: 150px;
}
.box5 {
  background-color: gold;
  height: 150px;
}
